<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Hello thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport " content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no"/>
    <link href="/webjars/materializecss/0.96.0/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>
<body>

<ul>
    <li class="dropdown-content"><a href="?lang=en_US"></a></li>
    <li class="dropdown-content"><a lang="?lang=fr"></a></li>
</ul>
<nav>
    <div class="nav-wrapper indigo">
        <ul class="right">
            <li>
                <a href="#!" class="dropdown-button"><i class="mdi-action-language right"></i></a>
            </li>
        </ul>
    </div>
</nav>

<section layout:fragment="content">
    <p>Page content goes here</p>
</section>

<script src="/webjars/jquery/2.1.4/jquery.js"></script>
<script src="/webjars/materializecss/0.96.0/js/materialize.js"></script>
</body>
</html>